#!/bin/bash

#change the words 'something' in the sed command to your actual values

sed -i 's/@@datasource-servicename@@/something/' JCS-SX/ModelLeadCaptureSys/src/oracle/cloud/sampleaapps/leadcapturesys/model/common/bc4j.xcfg
sed -i 's/@@your_sales_cloud_URL@@/something/' JCS-SX/ViewLCS/public_html/LeadCapture.jspx
