#!/bin/bash
sed -i 's/something/@@datasource-servicename@@/' JCS-SX/ModelLeadCaptureSys/src/oracle/cloud/sampleaapps/leadcapturesys/model/common/bc4j.xcfg
sed -i 's/something/@@your_sales_cloud_URL@@/' JCS-SX/ViewLCS/public_html/LeadCapture.jspx
