<?xml version = '1.0' encoding = 'UTF-8'?>
<!-- Copyright (c) 2015, Oracle and/or its affiliates. All rights reserved -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <filter>
    <filter-name>JpsFilter</filter-name>
    <filter-class>oracle.security.jps.ee.http.JpsFilter</filter-class>
    <init-param>
      <param-name>enable.anonymous</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>JpsFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>AccountServiceResponseImplPort</servlet-name>
    <servlet-class>com.oracle.xmlns.apps.crmcommon.salesparties.accountservice.AccountServiceResponseImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServiceResponseImplPort</servlet-name>
    <url-pattern>/AccountServiceResponseImplPort</url-pattern>
  </servlet-mapping>
</web-app>
