<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>jersey</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>oracle.fusion.pts.restService</param-value>
    </init-param>
    <init-param>
      <description>Disable XML Security</description>
      <param-name>com.sun.jersey.config.feature.DisableXmlSecurity</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/jersey/*</url-pattern>
  </servlet-mapping>
<!--
 <service-ref>
    <service-ref-name>OpportunityService_Service</service-ref-name>
    <service-interface>oracle.demo.pts.fusionproxy.opportunities.OpportunityService_Service</service-interface>
 </service-ref>

 <service-ref>
    <service-ref-name>PersonService_Service</service-ref-name>
    <service-interface>oracle.demo.pts.fusionproxy.person.PersonService_Service</service-interface>
 </service-ref>
 
  <service-ref>
    <service-ref-name>LocationService_Service</service-ref-name>
    <service-interface>oracle.demo.pts.fusionproxy.location.LocationService_Service</service-interface>
 </service-ref>
  <service-ref>
    <service-ref-name>InteractionService_Service</service-ref-name>
    <service-interface>oracle.demo.pts.fusionproxy.interaction.InteractionService_Service</service-interface>
 </service-ref>
  
  <service-ref>
    <service-ref-name>ActivityAppointmentService_Service</service-ref-name>
    <service-interface>oracle.demo.pts.fusionservices.ActivityAppointment.ActivityAppointmentService</service-interface>
 </service-ref>
 
 
 <service-ref>
    <service-ref-name>SalesLeadService_Service</service-ref-name>
    <service-interface>oracle.demo.pts.fusionproxy.saleslead.SalesLeadService_Service</service-interface>
 </service-ref>
 
 <service-ref>
    <service-ref-name>SalesPartyService_Service</service-ref-name>
    <service-interface>oracle.demo.pts.fusionproxy.salesparty.SalesPartyService_Service</service-interface>
 </service-ref>
 -->
   <login-config/>
 
 
 <!-- Following Lines force SSL for all communication -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>AllPages</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
 
  <security-role>
    <description>All SSL resources</description>
    <role-name>sslresources</role-name>
  </security-role>
  
</web-app>
